#page {
  width: 70%;
  margin: 0 auto 0;
}
#page h2 {
  font-family: Helvetica, Arial, sans-serif;
}
#page .menu {
  list-style: none;
}
#page .menu li {
  display: inline-block;
  vertical-align: middle;
}
#page .menu li a {
  font-size: 1.125rem;
  font-family: Helvetica;
  color: #c60001;
  text-decoration: none;
}
#page section {
  width: 100%;
}
#page section > div {
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  cursor: pointer;
}
#page section > div span {
  display: block;
  padding: 10px 0 0;
  color: #2d4ecd;
  text-decoration: line-through;
  text-transform: uppercase;
}
#page section > div b {
  display: block;
  color: #008000;
}
#page section > div:hover .subnivel {
  opacity: 1;
  visibility: visible;
}
#page section > div .subnivel {
  background: #aaa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 90%;
  margin-top: 40px;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
}
#page section > div .subnivel -ms-transition property duration effect {
  transition: all 0.8s ease-in-out;
}
#page section > div .subnivel:before {
  content: '';
  position: absolute;
  top: -8px;
  content: '';
  border-bottom: 9px solid #aaa;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}
