@require reuse;

#page 
    width 70%
    margin 0 auto 0
    
    h2 
        font-family Helvetica, Arial, sans-serif
        
    .menu 
        list-style none
        
        li 
            display inline-block
            vertical-align middle
            
            a
                font-size 1.125rem
                font-family Helvetica
                color rgba(198, 0, 1, 1)
                text-decoration none
        
    section
        width 100%
        > div
            
            font-family Helvetica, Arial, sans-serif
            
            position relative
            
            cursor('mao')
            
            span
                display block
                padding 10px 0 0
                color cor-de
                t(oferta)
                t(uppercase)
            
            b 
                display block
                color cor-preco
                
            &:hover 
                .subnivel
                    opacity 1
                    visibility visible
                
            .subnivel
                background rgba(170, 170, 170, 1)
                border-radius 6px 
                
                width 90%
                
                margin-top 40px
                padding 10px
                
                position absolute
                top 100%
                left 0
                
                opacity 0
                visibility hidden

                transition(all, .8s)                
                
                &:before
                    content ''
                    position absolute
                    top -8px
                                        
                    arrow(rgba(170, 170, 170, 1), 9px)
                
                    

                