cor-preco = green
cor-de    = rgba(45, 78, 205, 1)

t(type = center)  
    
    if type == center  
        text-align type 
    
    if type == left  
        text-align type 
    
    if type == right  
        text-align type 
    
    if type == justify  
        text-align type 
    
    if type == uppercase  
        text-transform type 
    
    if type == lowercase  
        text-transform type 
    
    if type == capitalize  
        text-transform type 
    
    if type == none  
    	text-decoration type 
    
    if type == underline  
    	text-decoration type 
    
    if type == overline  
    	text-decoration type 
    
    if type == nowrap  
    	white-space type
    
    if type == line-through or type == depor or type == de-por or type == oferta or type == offer  
    	text-decoration line-through
    
    
// mixin about text 


arrow(color=#333, size=8px, dir=bottom, content=false) 
    
    // valida se vai querer pseudo elemento before ou after
    if content == true or content == content 
        content ''
    
    if content == pos or content == position or content == absolute 
        content ''
        position absolute
    
    if content == display or content == inline-block 
        content ''
        display inline-block
    
    if content == middle 
        content ''
        display inline-block
        vertical-align middle
    
    if content == top 
        content ''
        display inline-block
        vertical-align top
    
    if content == bottom 
        content ''
        display inline-block
        vertical-align top
    
    
    // valida a direcao do ponteiro, podendo ser top, bottom, right, left
    if dir == top 
        border-top size solid color
        border-left size solid transparent
        border-right size solid transparent
    else if dir == bottom 
        border-bottom size solid color
        border-left size solid transparent
        border-right size solid transparent
    else if dir == right 
        border-top size solid transparent
        border-bottom size solid transparent
        border-right size solid color
    else 
        border-top size solid transparent
        border-left size solid color
        border-bottom size solid transparent
    
    
//mixin transparent
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
  
cursor(type=default)
    if type == 'mao' or type == hand or type == pointer or 'maozinha'
        cursor pointer

transition(property=all, duration=0.3s, effect=ease-in-out)
	-webkit-transition property duration effect
	-moz-transition property duration effect
	-ms-transition property duration effect
    transition property duration effect
    
